<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>



    <!--  <app-add-product></app-add-product>-->

<!--[fillHandle]= '{ autoInsertRow= "false" ,direction= "vertical"}'-->
<div style="text-align: center;text-align: -webkit-center;">
    <button type="button" style="margin-right: 0.5%;" class="btn btn-primary mb-1" (click)="onNewProduct()">Add product</button>
    <button type="button" style="margin-right: 0.5%;" class="btn btn-primary mb-1" (click)="export()">Export to excel</button>
    <button type="button" style="margin-right: 0.5%;" class="btn btn-primary mb-1" (click)="onPrint()">Print</button>
</div>
<div id="hotInstance" class="print-friendly" style="z-index: 0!important;">
    <!--<hot-table [hotId]="id" [settings]="hotSettings"></hot-table>-->
  </div>
